* {
    margin: 0;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row::after {
    display: table;
    clear: both;
    content: "";
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.container {
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    height: 93vh;
    width: 30%;
    background-color: #4ADEDE;
    margin: 0;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 1px;
}

.answer {
    background-color: whitesmoke;
    height: 10vh;
    width: 97%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    font-size: 2rem;
    padding-left: 3%;
    border-radius: 15px;
    margin: 5%;
    width: 87%;
    box-shadow: 1px 1px 1px;
}

.btn {
    height: 15vh;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    font-size: 35px;
    background-color: #1AA7EC;
    border-radius: 15%;
    width: 80%;
    height: 12vh;
    transition: 0.3s ease background-color;
    transition: 0.3s ease color;
    box-shadow: 1px 1px 1px;
}

.button:hover {
    background-color: #1E2F97;
    color: white;
}

@media screen and (max-width: 1200px) {
    .calculator {
        height: 80vh;
        width: 40%;
    }
    
    .btn {
        height: 13vh;
    }
    
    .answer {
        height: 8vh;
    }
    
    .button {
        font-size: 30px;
        height: 10vh;
    }
}

@media screen and (max-width: 600px) {
    .calculator {
        height: 60vh;
        width: 60%;
    }
    
    .btn {
        height: 10vh;
    }
    
    .answer {
        height: 5vh;
    }
    
    .button {
        font-size: 20px;
        height: 7vh;
    }
}























