.navbar {
    background-color: #3795BD;
    height: 10vh;
    z-index: 1000;
    margin: 0;
    padding: 0;
    position: relative;
}

.navbar h1 {
  margin-left: 30px;
  font-size: 30px;
  font-family: "Matemasie", sans-serif;
  font-weight: 100;
}

.nav-link {
    font-size: 20px;
    color: #4E31AA !important;
    font-weight: bold;
    transition: color 0.3s ease;
    margin-left: 40px;
    font-family: "New Amsterdam", sans-serif;
    font-weight: 600;
}

a.wishlist {
    margin: 0 !important;
    margin-right: 10px !important;
}

a.cart {
  margin: 0 !important;
  margin-right: 10px !important;
}

.form-control {
  margin: 0 !important;
  margin-right: 10px !important;
}

.navbar-collapse {
  width: 100%;
  background-color: #3795BD;
  margin: 0;
}

.nav-item {
  margin: 0 10px;
}

.nav-link:hover {
    color: wheat !important;
}

.cart img {
  width: 25px;
}

.wishlist img {
  width: 25px;
}

.mr-sm-2 {
  margin-left: 53px;
}

.footer {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3795BD;
}

.footer h6 {
  color: whitesmoke;
  font-family: "New Amsterdam", sans-serif;
  letter-spacing: 1px;
}

.overlay {
  position: fixed;
  top: 60px;
  left: 1110px;
  width: 400px;
  max-height: calc(100% - 60px);
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 1000;
  overflow-y: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 6px;
}

.overlay-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 90%;
  max-height: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.product-item {
  margin-bottom: 20px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 90%;
  max-height: 80%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  height: 100%;
}

.modal-content h2 {
  margin-bottom: 10px;
  font-size: 22px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
}

.modal-content p {
  margin-bottom: 20px;
  font-size: 15px;
  color: #333;
  text-align: justify;
  font-family: "Kanit", sans-serif;
}

.prod-price {
  text-align: center !important;
}

.modal-content img {
  max-width: 225px;
  height: 300px;
  border-radius: 8px;
  margin: auto;
  margin-bottom: 20px;
}

.modal-content button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.modal-content button:hover {
  background-color: #0056b3;
}

.form-control {
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  
  .form-inline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 6%;
  }

  .form-control {
    width: 40%;
  }
  
  .overlay {
    position: fixed;
    height: 100%;
    width: 300px;
    top: 312px;
    left: 51px;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    overflow-y: auto;
  }
  
  .overlay-content {
    background: white;
    margin: 1rem;
    padding: 1rem;
    border-radius: 4px;
  }
}



































